@import "../../variables.scss";

.labels {
    padding: 2%;
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
    // padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        // position: absolute;
        // opacity: 0;
        // cursor: pointer;
        // height: 0;
        // width: 0;
    }

    .checkBox {
        position: relative;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $misc-color;
        border: 1px solid $text-color;
        color: $misc-color;

        &:hover {
            cursor: pointer;
            background-color: $background-color;
        }

        &:checked {
            background-color: $text-color;
        }

        &:after {
            content: "";
            display: none;
            position: absolute;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .labelText {
        font-family: $font-text;
        margin: 4%;
    }
}