.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 5%;
    padding: 2%;

    .card {
        border: 1px solid black;
        height: 300px;
        width: 200px;
    }

}