@import "../../variables.scss";

.header{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 5%;
    font-family: $font-title;

    .logo{
        width: 70px;
        height: 50px;
        margin-left: 5%;
        color: black;
        filter: contrast(100);
    }

    .title {
        padding-left: 5%;
        font-size: 3.5rem;;
    }
}
