@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Pathway+Gothic+One&display=swap');

$text-color: #030301;
$background-color: #FFFFF3;
$nav-color: #3993DD;
$card-color: #00D9C0;
$misc-color: #D5C5C8;
$font-title: 'Pathway Gothic One';
$font-text: 'Nanum Gothic Coding', monospace;